@charset "utf-8";

/*初始化*/
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font-size:12px;font-family:"微软雅黑",arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%}
em{font-style:normal}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;color:#000;}
a:link{color:#000;}
a:visited{color:#000;}
a:hover{color:#336699;}
a:active{color:#336699;}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
img{-ms-interpolation-mode:bicubic}
textarea{resize:vertical}
html{
	color:#000;
	overflow:hidden;
	background:#fff;
	}
	
/*Rulers*/
div.RulerButton{
	position:absolute;
	top:0px;
	left:0px;
	z-index:9999999;
	}
div.RulerTop,div.RulerLeft{
	position:absolute;
	}
div.RulePage{

	}
.RulePage iframe.ifRulePage{
	border:0px;
	}
div.CursorCross{
	display:none;
	float:left;
	position:absolute;
	cursor:crosshair;
	z-index:999;
	top:0px;
	left:0px;
	background:url("../images/transparent.gif");
	}
div.CursorPad{
	color:#333;
	background:url("../images/transparent-yellow.png");
	position:absolute;
	width:72px;
	height:41px;/*The golden ratio*/
	border:1px solid #ff8;
	line-height:20px;
	font-size:12px;
	padding:8px;
	}
div.CursorPad p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	}
div.CursorPad p span.pixelValue{
	margin:0 5px;
	font-weight:bold;
	}
div.CursorPad p span.pixelTxt{
	float:right;
	}
div.Lines{
	display:none;
	position:absolute;
	float:left;
	top:0px;
	left:0px;
	z-index:9999;
	cursor:crosshair;
	background:url("../images/transparent.gif");
	}
/*Graduation*/
div.GraShort , div.GraLong{
	position:absolute;
	font-size:10px;
	}
div.RulerTop div.GraShort{
	height:40%;
	}
div.RulerTop div.GraLong{
	height:80%;
	}
div.RulerLeft div.GraShort{
	width:40%;
	}
div.RulerLeft div.GraLong{
	width:80%;
	text-align:right;
	word-wrap:break-word;
	}